# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
.turbo/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Prisma
apps/backend/prisma/*.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# Test coverage
coverage/

# Vite
apps/*/dist-ssr
apps/*/.vite
